on: [push]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS_ZAFARAPP }}
        
        - name: 'Build and push image'
          uses: azure/docker-login@v1
          with:
            login-server: ${{ secrets.REGISTRY_LOGIN_SERVER_ZAFARAPP }}
            username: ${{ secrets.REGISTRY_USERNAME_ZAFARAPP }}
            password: ${{ secrets.REGISTRY_PASSWORD_ZAFARAPP }}
        - run: |
            docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER_ZAFARAPP }}/sampleapp:${{ github.sha }}
            docker push ${{ secrets.REGISTRY_LOGIN_SERVER_ZAFARAPP }}/sampleapp:${{ github.sha }}
        - name: 'Deploy to Azure Container Instances'
          uses: 'azure/aci-deploy@v1'
          with:
            resource-group: ${{ secrets.RESOURCE_GROUP_ZAFARAPP }}
            dns-name-label: ${{ secrets.RESOURCE_GROUP_ZAFARAPP }}${{ github.run_number }}
            image: ${{ secrets.REGISTRY_LOGIN_SERVER_ZAFARAPP }}/sampleapp:${{ github.sha }}
            registry-login-server: ${{ secrets.REGISTRY_LOGIN_SERVER_ZAFARAPP }}
            registry-username: ${{ secrets.REGISTRY_USERNAME_ZAFARAPP }}
            registry-password: ${{ secrets.REGISTRY_PASSWORD_ZAFARAPP }}
            name: aci-sampleapp
            location: 'west us'
